body {
	background-color: #303134;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	max-width: 1200px;
	float: none;
	margin: 0 auto;
}

/*COLOR*/

.Title h1 {
	padding: 20px 30px;
	border-radius: 15px;
	background-color: #394b58;
	margin-top: 100px;
}

.PrimaryColor {
	padding: 75px 75px;
	background-color: white;
	width: 100px;
	border-radius: 15px;
	color: black;
}

.SecundaryColors {
	display: flex;
}

.SecundaryColor {
	padding: 75px 75px;
	background-color: white;
	width: 100px;
	border-radius: 15px;
	color: black;
	margin-right: 25px;
}

.SecundaryColor2 {
	padding: 75px 75px;
	background-color: white;
	width: 100px;
	border-radius: 15px;
	color: black;
}

p {
	font-size: 20px;
	font-weight: bold;
}

/*Headings*/

.Headers {
	display: flex;
	justify-content: space-between;
}

.SubTitle {
	padding: 10px 20px;
	background-color: #5c96b9;
	border-radius: 15px;
}

.Headers-Left {
	margin-right: 130px;
}

.Headers-Left h1 {
	width: 180px;
}

.Headers-Right h1 {
	font-size: 46px;
}

.Headers-Right h2 {
	font-size: 40px;
}

.Headers-Right h3 {
	font-size: 34px;
}

.Headers-Right h4 {
	font-size: 28px;
}

.Headers-Right h5 {
	font-size: 22px;
}

.Headers-Right h6 {
	font-size: 16px;
}

/*BUTTONS*/

.Buttons {
	margin-top: 70px;
	margin-bottom: 50px;
}
.LeftButtons {
	margin-bottom: 90px;
}

.Buttons div a {
	padding: 20px 30px 20px 30px;
	text-decoration: none;
	border-radius: 15px;
	color: white;
	font-size: 25px;
}

.Left-Btn1 {
	background-color: #5c96b9;
	margin-right: 70px;
}

.Right-Btn1 {
	background-color: #414646;
}

.Left-Btn2 {
	background-color: #376f98;
	margin-right: 70px;
}

.Right-Btn2 {
	background-color: black;
}

.Left-Btn1:hover {
	transition: 0.2s;
	background-color: #376f98;
}

.Right-Btn1:hover {
	transition: 0.2s;
	background-color: black;
}

/*NAV*/

.nav {
	display: flex;
	justify-content: space-between;
	margin-top: 50px;
	padding: 30px;
	background-color: #fff;
}

.nav img {
	width: 20%;
}

.nav ul li {
	display: inline;
}

.nav ul li a {
	text-decoration: none;
	font-size: 20px;
	margin-left: 20px;
	color: black;
}

.nav ul li .NavButton {
	padding: 30px;
	background-color: #376f98;
	border-radius: 15px;
	color: white;
}

.nav ul li .NavButton:hover {
	transition: 0.2s;
	background-color: #394b58;
}

.nav ul li .Under:hover {
	transition: 0.2s;
	border-bottom: solid;
}

.SocialMedia img {
	width: 5%;
}
