@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Source+Serif+Pro:wght@200&display=swap");

/*font-family: "Montserrat", sans-serif;*/
/*font-family: "Source Serif Pro", serif;*/

.container {
    font-family: "Source Serif Pro", serif;
    background-image: url("./images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: max-content;
    height: 500px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container h1 {
    font-weight: 600;
    color: white;
    font-size: 40px;
}

/* don't delete, may be used in javasscript for navbar */
.fixed {
    /* position: fixed; */
    /* background-color: red; */
}

.flex {
    display: flex;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.grow {
    flex-grow: 1;
}
.wrap {
    flex-wrap: wrap;
}
.center-vert {
    align-items: center;
}
.center-hori {
    /* only works with flex */
    justify-content: center;
}

.horie {
    margin: 50px;
    justify-content: space-between;
	align-items: center;
}
.horie div {
    padding: 30px;
    align-items: center;
    /* border: 3px solid #1a3863; */
    /* max-width: 300px; */
	
}
.horie div:hover{
	opacity: 0.6;
	transition: 0.2s;
}
.horie img {
    max-width: 200px;
	max-height: 100px;
}

.circle {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 10px;
	color: #fff;
    border: 3px solid #000;
    border-radius: 250px;
    background-image: url("./images/background.jpg");
	background-size: cover;
    width: 250px;
    height: 250px;
}
.circle p {
	background-color: #00000090;
	padding: 5px;
}

nav {
    display: flex;
    /* justify-content: space-between; */
    background-color: #1a3863be;
    width: 100%;
    /* left: 0; */
    /* right: 0; */
    /* position: fixed; */
    position: sticky;
    top: 0;
    /* transition-duration: 4s; */
    align-items: center;
}
nav a {
    text-decoration: none;
    color: white;
    position: sticky;
    top: 0;
}

nav h1 {
    color: #fff;
}
nav p {
    color: white;
    font-size: 12px;
}
nav img {
    width: 50px;
    padding-left: 30px;
    padding-right: 30px;
}
nav ul {
    padding: 20px 20px 50px 50px;
}
nav ul li a {
    text-decoration: none;
    font-weight: bolder;
}
nav ul li a:hover {
    text-decoration: underline;
}
nav ul li {
    display: inline;
    margin-left: 20px;
}

.explore {
    background-color: #1a3863;
    text-align: center;
    color: white;
    font-family: "Source Serif Pro", serif;
    font-weight: bolder;
    padding: 5px;
    font-size: large;
}

h1 {
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 42px;
    font-family: "Source Serif Pro", serif;
}

h2 {
    font-size: 28px;
    font-family: "Source Serif Pro", serif;
}

h3 {
    font-size: 32px;
    font-family: "Source Serif Pro", serif;
}

h4 {
    font-size: 22px;
    font-family: "Source Serif Pro", serif;
}

p {
    font-size: 22px;
    font-family: "Montserrat", sans-serif;
    line-height: 1.2;
}

.infoBoard {
    background-color: #ccc;
    border-left: 5px solid #009245;
    margin: 50px;
    padding: 30px;
    align-items: center;
}

.BigButton {
    text-decoration: none;
    color: white;
    padding: 20px 30px;
    background-color: #1a3863;
    font-size: 20px;
    display: inline-block;
}

.footer {
    display: flex;
    flex-direction: row;
    background-color: #1a3863;
    padding: 30px;
    padding-left: 50px;
    padding-right: 50px;
}
.footer a {
    color: #fff;
}

.footer img {
    margin-right: 30px;
}

.wrapper {
	max-width: 1920px;
	display: flex;
}
@media (min-width: 1000px) {
    .wrapper-background {
        display: flex;
        justify-content: center;
        /* padding-left: auto;
        padding-right: auto; */
    }
}


/* not in use for now */

.hover .dropdown-content {
    display: none;
}

.hover .dropdown-content ul {
    padding: 0;
    padding-top: 10px;
}

.hover .dropdown-content ul li {
    display: block;
}

.hover:hover .dropdown-content {
    display: block;
    position: absolute;
    display: inline-block;
}
.hover .dropdown-content {
    display: none;
}

.hover .dropdown-content ul {
    padding: 0;
    padding-top: 10px;
}

.hover .dropdown-content ul li {
    display: block;
}

.hover:hover .dropdown-content {
    display: block;
    position: absolute;
    display: inline-block;
}

.TitleJan {
    margin: 50px;
}

.TitleJan h2 {
    font-size: 40px;
}

.JanBerchmans {
    display: flex;
    margin: 50px;
    align-items: center;
}

.JanBerchmans img {
    width: 250px;
    margin: 50px;
}

.JanBerchmans2 {
    text-align: center;
    margin-bottom: 75px;
}

/*Dropdown*/
ul.dropdown {
    margin-left: 50px;
    padding: 0;
    z-index: 10;
}
ul li ul.dropdown li {
    padding: 10px;
    display: block;
}
ul li ul.dropdown {
    position: absolute;
    display: none;
    background-color: #1a3863;
    border: 2px solid #000;
}
ul li:hover ul.dropdown {
    display: block;
}
ul.dropdown li:hover ::after {
    width: 100%;
}

.organisatie {
    max-width: 300px;
}

.Contact {
	padding: 30px 50px;
}

.Contact div h2 {
	font-size: 40px;
}

.Underline2 {
	width: 28%;
	border-bottom: 1px solid black;
	position: absolute;
	left: auto;
}
.Contact {
	display: flex;
	justify-content: space-between;
}

.form {
	display: flex;
	flex-direction: column;
}

.txtBox {
	display: flex;
	flex-direction: row;
}

.form .txtBox .Name {
	width: 200px;
	height: 35px;
}

.Box {
	margin-left: 10px;
}

.form input {
	height: 35px;
}

.form .Message {
	height: 100px;
}

.RButton {
	text-decoration: none;
	padding: 20px 25px;
	background-color: #28282a;
	color: white;
	font-size: 15px;
	width: 60px;
	margin-top: 20px;
}

.Contact div img {
	width: 10%;
}

.links{
	width: 300px;
	border: #009245;
	
}

.links p{
	margin-bottom: 10px;
}
.links img {
	width: 300px;
	margin-bottom: 10px;
}

.links a{
	text-decoration: none;
	color: #fff;
	background-color: #009245;
	padding: 5px
}

